.body{
    width: 100%;
    height: 100%;
    background-color: #fff;
    overflow-y: auto;
}
.headersection{
    box-shadow: 0 2px 0 0 #e6e9f1;
}
.publicDatapageheader{
    display: flex;
    max-width: 564px;
    padding: 50px 0 80px;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
}
.header_content{
    width: 100%;
    height: 46px;
    line-height: 46px;
    font-size: 30px;
    font-weight: 500;
    color: #333;
    margin-bottom: 24px;
    text-align: center;
}

.contentsection{
    padding: 0 calc(50% - 660px);
}



.ant-card-actions > li:last-child > span > .anticon:hover{
    color: red;
}

.label_title{
    display: inline-flex;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    width: 100%;
}

.label_title::before{
    content: "";
    display: block;
    width: 3px;
    height: 20px;
    border-radius: 2px;
    background-color: #4676aa;
    margin-right: 10px;
}

.site-layout .site-layout-background {
    background: #fff;
}

.site-description-item-profile-wrapper {
    margin-bottom: 7px;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    line-height: 1.5715;
}
  
[data-theme='compact'] .site-description-item-profile-wrapper {
    font-size: 12px;
    line-height: 1.66667;
}

.ant-drawer-body p.site-description-item-profile-p {
    display: block;
    margin-bottom: 16px;
    color: rgba(0, 0, 0, 0.85);
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5715;
}

[data-theme='compact'] .ant-drawer-body p.site-description-item-profile-p {
    font-size: 14px;
    line-height: 1.66667;
}

.site-description-item-profile-p-label {
    display: inline-block;
    margin-right: 8px;
    color: rgba(0, 0, 0, 0.85);
}

.tableColumns{
    font-size: 20px;
    font-weight: bold;
}

.Card-name{
    display: inline-block;
    width: 150px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}